{% extends 'base.html' %}
{% block titulo %} Recetas registradas {% endblock %}

{% block css %}
  <style>
	img { width:100px; }
  </style>
{% endblock %}


{% block encabezado %}
  <h1>Nuestras recetas</h1>
{% endblock %}

{% block contenido %}
<a href="/receta/nueva">Agregar una receta</a>

  <p>
	  Actualmente tenemos registradas: 
     {% with total=recetas.count %} 
		{{total}} receta{{total|pluralize}}
	 {% endwith %}
  </p>

	<ul>		
	  	{% for dato in recetas %}
	  	<li class="{% cycle 'impar' 'par' %}">{{dato.titulo|title}}</li>

	 
	  
	 	{% empty %}
		<li>No hay recetas registradas aún.</li>
		{% endfor %}
		{% block encabezado1 %}
	<h1>Nuestras recetas</h1>
  		{% endblock %}

	{% block contenido1 %}
	
	<ul>
		{% for dato in datos %}
	<li>
		<a href='{% url principal.views.detalle_receta dato.id %}'>{{dato.titulo}}</a>
		<img src='{{MEDIA_URL}}{{dato.imagen}}'>
	</li>
		{% empty %}
	<li>Aún no hay recetas registradas</li>
		{% endfor %}
</ul>
	{% endblock %}
	</ul>

{% endblock %}
